*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
}
input[type="text"],
input[type="email"],
input[type="subject"],
input[type="message"],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}
.c2{
        color: #FFF;
        background-color: #9DC45F;
        padding: 5px 20px 15px 20px;
        border: 1px solid lightgray;
        border-radius: 4px;
        margin: auto;
        width: 103%;
        text-shadow: #f2f2f2;
            
}
input[type="submit"]{
    color: #FFF;
    background-color: #9DC45F;
    padding: 12px 20px;
    border: none;
    border-radius: 400px;
    cursor: pointer;
    width: 20%;
    text-align: center;
}
input[type="submit"]:hover{
    background-color: #4caf04;
    
}